.integrator {
  margin-bottom: 55px;
  &__title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 25px;
    span, img {
      display: inline-block;
    }
    span {
      margin-left: 5px;
      vertical-align: top;
    }
    img {
      vertical-align: middle;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    @media (min-width: @screen-xs) and (max-width: @screen-lg-top) {
      width: 100%;
    }
  }
  &__text {
    font-size: 20px;
  }
  &__photo {
    margin-right: 30px;
    @media (min-width: @screen-xs) and (max-width: @screen-lg-top) {
      margin-right: 10px;
    }
  }
}