.recommend-slider {
  position: relative;
  margin-bottom: 30px;
  @media (min-width: @screen-xs) and (max-width: @screen-xl-top) {
    padding-bottom: 30px;
    &::after {
      content: '';
      position: absolute;
      width: calc(~'100% + 40px');
      height: 1px;
      background-color: #e5e5e5;
      bottom: 0;
      left: -20px;
    }
  }
}

